
{% extends "base.html" %}

{% block content %}

<p>panw_app_framework is online </p>
<p>websocket status: <span><p id="socketStatus">connecting...</p></span></p>


{% endblock %}




{% block js %}

{% assets "index_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}

