{% extends "base.html" %}

{% block css %}

{% assets "vis_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{% endassets %}

{% endblock %}

{% block content %}

  <style type="text/css">
    #mynetwork {
      width: 75%;
      height: 75%;
      border: 1px solid lightgray;
    }
  </style>
<div id="mynetwork"></div>

{% endblock %}




{% block js %}

{% assets "vis_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "traffic_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}

